.skill_wrapper {
  padding: 120px 72px;
  background-color: #fff3e4;
}

.section {
  column-gap: 24px;
  row-gap: 48px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.desc {
  grid-row-start: span 2;
  grid-row-end: span 2;
  grid-column-start: span 1;
  grid-column-end: span 1;
  padding-right: 48px;
}

.desc h2 {
  margin-bottom: 24px;
  margin-top: 0;
  display: inline-block;
  max-width: 780px;
  color: black;
  font-size: 55px;
  line-height: 110%;
}

.desc p {
  color: #8491a0;
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 10px;
}

.skill {
  padding-right: 48px;
}

.skill img {
  margin-bottom: 24px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.skill img:hover {
  transform: scale(1.2);
}

.skill h3 {
  margin-top: 0;
  margin-bottom: 16px;
  color: black;
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
}

.skill p {
  color: #8491a0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 150%;
}
