@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

:root {
  --base: black;
  --bg-main: #181823;
  --text: white;
  --dark-text: #8491a0;
  --primary: #5221e6;
  --secondary: #0ff;
  --green: #3cc74e;
  --pink: #e95d90;
  --peach: #fff3e4;
}

* {
  box-sizing: border-box;
  font-family: Sen, sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--base);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
}
