.work_wrapper {
  padding: 120px 72px;
}

.section {
  column-gap: 24px;
}

.heading {
  display: flex;
  margin-bottom: 80px;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 48px;
}

.heading h4 {
  display: inline-block;
  margin-bottom: 8px;
  color: var(--dark-text);
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.heading h2 {
  display: inline-block;
  width: 100%;
  max-width: 780px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text);
  font-size: 55px;
  line-height: 110%;
}

.button_wrapper {
  display: flex;
  height: 232px;
  justify-content: center;
  align-items: center;
}

.cta {
  padding: 24px 32px;
  border: 1px solid var(--primary);
  color: var(--text);
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(56, 152, 236, 0);
  text-decoration: none;
  transition: box-shadow 350ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 350ms cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cta:hover {
  background-color: var(--primary);
  box-shadow: 0 20px 60px 0 rgb(82 33 230 / 30%);
  transform: translate(0px, -5px);
  outline: 0;
}
