<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571662309911-5i8sm7iblcha26bkb4erd11r8ku2konm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571662309911-5i8sm7iblcha26bkb4erd11r8ku2konm</string>
	<key>API_KEY</key>
	<string>AIzaSyDpBKueFgDRFTfosxOvaMH8zGyqV4j-vOA</string>
	<key>GCM_SENDER_ID</key>
	<string>571662309911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jetop.learntocode01flutter</string>
	<key>PROJECT_ID</key>
	<string>learntocode---01---flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>learntocode---01---flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571662309911:ios:b7bd0a94491557839a9a52</string>
</dict>
</plist>