.hero {
  height: 90vh;
  max-height: 1080px;
}

.img {
  background-image: url("../../assets/hero.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 80vh;
  max-height: 864px;
  align-self: center;
}

.content {
  align-self: center;
  margin-left: -64px;
}

.heading {
  font-style: normal;
  font-size: 76px;
  line-height: 110%;
  margin-bottom: 32px;
  color: white;
}

.heading span {
  color: hsla(0, 0%, 100%, 0.5);
}

.copy {
  color: white;
  font-size: 18px;
  line-height: 150%;
}

.bg {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: -1;
  width: 65vw;
  height: 110vh;
  max-height: 1350px;
  background: linear-gradient(180deg, #181823, #181823);
}
