.section {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
